body{
    margin: 0;
    background-color: rgba(217, 212, 212, 0.459);
}
.main-nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: white;
    box-shadow: 3px 2px 14px grey; 
    border: none;
}
a{
    text-decoration: none;
}
div{
    display: flex;
    gap:30px
}
li{
    list-style: none;
    color: blue;
}
i{
    color: blue;

}
.nav1 img{
    height: 40px;
    
}

